#map { /* Specify a height for the map container */
    height: 750px;
    width: 1400px;
}

.landtake {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Distribute items evenly */
}
.landtake label {
    margin-right: 10px; /* Add some space between label and input */
}
.landtake #coordinates {
    flex: 1; /* Take up remaining space */
    margin-right: 10px; /* Add some space between input and buttons */
}
.landtake #crs {
    display: inline-block;
    width: auto;
    margin-right: 10px; /* Add some space between input and buttons */
}

.landtake button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.landtake button:hover {
    background-color: #0056b3;
}

/* Style for the button group section */
.button-group {
    position: fixed;
    bottom: 10px;
    right: 20px;
}
.button-group button {
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
}

/* Style for enabled buttons in the button group */
.button-group button:not([disabled]) {
    background-color: #007bff;
}
.button-group button:not([disabled]):hover {
    background-color: #0056b3;
}

/* Style for disabled buttons in the button group */
.button-group button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Apply styles to the console */
.console {
    margin: 20px; /* Add margin for spacing */
}

/* Apply styles to the textarea */
#output {
    width: 500px; /* Set width to 500 pixels */
    height: 65px; /* Set height to 300 pixels */
    padding: 10px; /* Add some padding for better readability */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add border radius for rounded corners */
    font-family: Arial, sans-serif; /* Specify font family */
    font-size: 11px; /* Specify font size */
    resize: none; /* Prevent resizing */
    outline: none; /* Remove outline on focus */
}

/* Apply styles to the textarea when focused */
#output:focus {
    border-color: #007bff; /* Change border color on focus */
}
